<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Articles</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!--
  Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Ubuntu&display=swap"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/blog.css" rel="stylesheet">

  <!-- Script -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>



</head>

<body>
  <div id="nav" class="container-fluid">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      <a class="navbar-brand" href="#">MindSpace</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="list-item navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/blog">Blog</a>
            <span class="sr-only">(current)</span>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/meditate">Meditate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user-page">Login</a>
          </li>
        </ul>
      </div>

  </nav>
</div>
  <!-- Page Content -->
  <div id="blog-container" class="container-fluid">
    <div class="header">
      <h1>All Entries</h1>
    </div>
    <!-- Page Features -->

    <div class="row articles">
      <% posts.forEach((post)=>{ %>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <%if(post.image) {%>
          <img class="card-img-top" src="./uploads/<%=post.image%>" alt="">
          <%} else{ %>
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <%}%>
          <div class="card-body">
            <h2 class="card-title"><%= post.title%></h2>
          <h3 class="date">Posted on <%=post.date%></h3>
          <p class="card-text"><%=post.content.substring(0,150)%>......</p>
        </div>
        <div class="card-footer">
          <a href="/posts/<%=post.url%>" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    <% }) %>
    <!-- /.row -->
  </div>
  </div>
  <!-- /.container -->
  <div class="footer">
    <p class="footer-p">@ Copyright MindSpace 2020</p>
</div>

</body>

</html>
